.bar-color-red {
  background-color: #F94144;
}
.bar-color-orange {
  background-color: #F3722C;
}
.bar-color-yellow {
  background-color: #F9C74F;
}
.bar-color-green {
  background-color: #90BE6D;
}
.bar-color-blue {
  background-color: #57BED6;
}
.bar-color-purple {
  background-color: #9C71D4;
}
.bar-color-pink {
  background-color: #EBB1D4;
}
.bar-color-lightblue {
  background-color: #ABD4DD;
}
.bar-color-brown {
  background-color: #6D3E35;
}
.bar-color-black {
  background-color: #000000;
}
.bar-color-white {
  background-color: #ffffff;
}